.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color:lightyellow;
  background-color: coral;
}
h2 {
  color: coral;
}
h5 {
  color: coral;
}
button {
  color:coral;
  background-color: lightyellow;
  border-color: coral;
  width: 100px;
  text-align: center;
  padding-block: 5px;
  margin: 4px 10px;
  cursor: pointer;
}